$Black: #000;
$White: #fff;
$Green: #5a7a6e;

$tabletSize: 768px;
$mobileSize: 425px;

@mixin pageWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}
@mixin pageContent {
    box-sizing: border-box;
    width: 100%;
    max-width: 1226px;
    padding-left: 16px;
    padding-right: 16px;
}
